@tailwind base;
@tailwind components;
@tailwind utilities;
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: white;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  /* font-family: "Times New Roman", "Hiragino Mincho ProN", "YuMincho", "Yu Mincho", "MS PMincho", serif; */
}

.siteindex ul {
  list-style-type: disc;
  margin-left: 1.5rem;
}

.mincho {
  font-family: "Times New Roman", "Hiragino Mincho ProN", "YuMincho", "Yu Mincho", "MS PMincho", serif;
}

.gothic {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}



select, input, textarea {
  background-color: inherit
}

* {
  line-height: 1.6;
  box-sizing: border-box;
}

input[type="text"], input[type="password"], textarea {
  -webkit-appearance: none;
}

.no-focus-outline a:focus, .no-focus-outline button:focus, .no-focus-outline input:focus, .no-focus-outline textarea:focus, .no-focus-outline select:focus {
  outline: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  cursor: pointer;
}

#__next {
  height: 100%;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}